<section class="my-10">
    <div class="container mx-auto">


        <label for="default-search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative mb-7">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <input type="text" id="default-search" [(ngModel)]="textsearch"
                class=" block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search of the product" required />
            <button type="submit"
                class="bg-main text-white absolute end-2.5 bottom-2.5  hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
        </div>


        <div class=" grid mx-10 sm:mx-1 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-12">
            @for (product of (allProducts | search:textsearch) | paginate: { id: 'tasks',
            itemsPerPage: 20,
            currentPage: page,
            totalItems: total }; track product._id) {
                <app-product-card [product]="product" (addtocart)="addtocartputn($event)"
                (addtowish)="addtowishlist($event)" />
            
            }@empty {
            <div class="col-span-12 h-full flex justify-center items-center">
                <img class="w-[25rem] "
                    src="images/DALL·E 2025-03-07 19.30.24 - A creative illustration of a person looking disappointed and confused while searching for a product in a store or online platform. The person is surro.webp">
            </div>}
        </div>
        <div class="flex justify-center"><pagination-controls (pageChange)="changepage($event)" id='tasks'></pagination-controls>
        </div>
    </div>
</section>