<div class="container my-15 mx-auto">
    <div class="flex gap-3 my-10 flex-row justify-items-center items-center "> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-arrow-right-from-line text-main text-3xl font-bold">
        <path d="M3 5v14" />
        <path d="M21 12H7" />
        <path d="m15 18 6-6-6-6" />
    </svg>
    <h2 class="font-bold text-black/70 text-4xl font-serif ">All Brands </h2>

</div>    <div class="grid sm:grid-cols-3 md:grid-cols-4  gap-4  my-10">
        @for (item of Brands; track $index) {
        <div class="max-w-sm mx-auto sm:mx-0 hover:shadow-shadow hover:shadow-main/50 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="rounded-t-lg h-[250px] w-full" [src]="item.image" alt="" />
            </a>
            <div class="p-5 border-gray-300 border-t-1">
                
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-main dark:text-white text-center">{{item.name}}</h5>
                
                
            </div>
        </div>
        }</div>
</div>
